{% extends 'base.html' %}
{% block content %}

<div class="container">
    <p><a href="{% url 'index' %}">spis treści</a></p>
    <p>Liczba respondentów: 51</p>
    <p>Liczba odpowiedzi ogółem: {{overall_answers}}</p>
    <p>Liczba kategorii: {{word_number_list| length}}</p>
    <table>
      <thead>
        <th>types</th>
        <th>tokens</th>
        <th>ilość wystąpień</th>
        <th>średnia ocena</th>
        <th>%</th>
      </thead>
      <tbody>
        {% for answer in word_number_list %}
          <tr>
            <td>
              {{answer.0}}
            </td>
            <td class="tokens">
              {{answer.3}}
            </td>
            <td>
              {{answer.1}}
            </td>
            <td>
              {{answer.2}}
            </td>
            <td>
              {{answer.4}}%
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
