{% extends 'base.html' %}



{% block content %}
<div class="container">

<a href="{% url 'index' %}">spis treści</a>
    <table>
      <thead>
        <th>types</th>
        <th>ilość wystąpień</th>
        <th>średnia ocena</th>
        <th>tokens</th>
      </thead>
      <tbody>
        {% for answer in word_number_list %}
          <tr>
            <td>
              {{answer.0}}
            </td>
            <td>
              {{answer.1}}
            </td>
            <td>
              {{answer.2}}
            </td>
            <td>
              {{answer.3}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
