{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="container mt-5">
  <i>Praca magisterska.</i>
  <h1>Obelgi w ujęciu symboli kolektywnych.</h1>
  <h5>Analiza wulgaryzmów, słów obraźliwych i obelg jako możliwych symboli kolektywnych.</h5>
  <p>Konstrukcja symboli kolektywnych w oparciu o inwektywy, wulgaryzmów i słów obraźliwych.</p>
  <hr>
  <p><b>Wstęp</b><p>
  <p><b><a href="{% url 'intro' %}">Wprowadzenie</a></b></p>
  <strong>Badanie nr 1. Zebranie symboli kolektywnych</strong>
  <div class="d-flex flex-column mb-4">
    <a href="{% url 'poll1' %}">Słowa obraźliwe</a>
    <a href="{% url 'sum_up' %}">Zbiorcze wyniki</a>
  </div>
  <b>Badanie nr 2. Semantyzacja symboli</b>
  <div class="d-flex flex-column mb-4">
    <a href="{% url 'kurwa' %}">Kurwa</a>
    <a href="{% url 'chuj' %}">Chuj</a>
    <a href="{% url 'idiota' %}">Idiota</a>
    <a href="{% url 'szmata' %}">Szmata</a>
    <a href="{% url 'kutas' %}">Kutas</a>
    <a href="{% url 'dziwka' %}">Dziwka</a>
    <a href="{% url 'debil' %}">Debil</a>
    <a href="{% url 'skurwysyn' %}">Skurwysyn</a>
    <a href="{% url 'pizda' %}">Pizda</a>
  </div>
  <b>Bibliografia</b>

</div>
{% endblock %}
