{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="container mt-4">
  <a href="{% url 'index' %}">spis treści</a>

  <p>Rejestrowanie bazy tych słów przez słowniki, zebranie materiału przez słownik wydaje się niestosowne do zakresu moich badań.
  By badane przeze mnie słowa mogły uzyskać rangę symobli kolektywnych koniecznie muszą wyjść od respondentów, najlepiej w sposób
  jak najmniej inwazyjny.
  </p>
  <p>Co komunikują wulgaryzmy? (Kowaliowa) Znaczenie i funkcja wyrazów tzw. brzydkich we współczesnej kulturze?
  Badanie słóœ najbardziej obraźliwych, słowa te powinny być związane z najgorzej ocenianymi symbolami koektywnymi</p>
  <p>Kostrukt normy językowej. Respondenci nie przypisują wulgaryzmom naruszeń normy językowej.
  W słowach obraźliwych odnajdziemy wartości moralizujące społeczne, odczuciowe.</p>
  <p>Ujęcie słów a miejsca zamieszkania</p>
  Wyzwiska tworzeone są doraźnie, tylko nieliczne utrwalają swoją postać i wchodzą do języka na dłużej. "Ty psie! Co znaczy pies?"
  <p>(Bańko 200) "inwektywy to obraźliwe i gwałtowne słowa w których ktoś komuś zarzuca coś"</p>
  <p>Kahneman - Pułapki myślenia o utracie myślimy mocniej, ważniejsze symbole kolektywne, mogą być powiązane z brakiem, niedoborem, antywartościami</p>
  <p>Symbol kolektywny w rozumienia Linka są stereotypami kulturowymi. To nie tabu</p>
  <p>Wg badania Fleischera wulgaryzmy nie są tematem tabu</p>
  <p>Jeśli chodzi o funkcję komunikacyjną dobrze jest to przedstawione w Słowniku Polszczyzny Rzeczywistej</p>
  <p>U Fleischera brakuje określeń negacyjnych. Obraz Polaka postulowanego przez negację jaki Polak ma nie być, jak buduje się tożsamość narodową</p>
  Chciałem uniknąć powielania badania F oceniająć to jako wtórne, tu znazenie zostało rozczytane z kontekstu wypowiedzi.
  <p>Jeśli chodzi o budowę badania to chciałem uniknąć w głównym pytaniu badawczym słów obelga, inwektywa, uznałem je za za trudne słowa oddalające od
  istoty tego badania</p>
  <br>
  <p>Konstrukty komunikacyjne deprecjonujące określenia przedstawicieli innych ras i nacji, pejoratywne określenia w odniesieniu do wrogich grup</p>
  <p>J.Puzynin proces identyfikacji wartośći i wyrazów wartościujących</p>
  <p>W.Pisarek Słowa sztandarowe. Niech żyje X, Precz z Y, Niech nie żyje X</p>
  <p>Symbole kolektywne to jednostki funkcjonalne wykazujące silnie pozytywne lub negatywne nacechowanie oraz równocześnie znaczenie kulturowe ( 3str)</p>
  <p>Wraz z zawartosciami powstaje jednocześnie normalność, rozumiana jako pole znaczeń (str 4. Fleischer 2010)</p>
  <p>Dobór próby i techniki badawcze ( strona 5 przypis 9)</p>
  <p>Czy jest zależność od płci</p>
  <p>Większość słów występuje w tylko jednej formie, co z kolei, pozwala wnioskować o wyraźnie zamanifestowanej semantyce. </p>
  <p>Czy jest odchylenie względem wieku?</p>
  <p>W moim badaniu ocena jest sztuczna, konstrukcja pytania miałą za zadanie zebrać 100-tki synonimy kulturowe, pola semantyczne profile semantyczne</p>
  <p>Wulgaryzmy w życiu codziennym 2013, podejście deklaratywne, mylnie ujęte wiadomo co to są za słowa ( a przecież nie, określenia polityczne typu faszysta to też wulgarzymy?)</p>
  <p>Nie ma znaczenia status majątkowy, oni wykształcenie</p>
  <p>Style życia w komunikacji, wulgaryzmy a stratyfikacja społeczeńśtwa, Dobór próby zorientowany był na osiągnięcie innych celów niż uzyskanie reprezentatywności demograficznej</p>
  <p>Czemu Pan Grochowski wybrał te słowa wulgaryzm a przekleństwo, nie chodzi o tabu jak wiemy</p>
  <p>Profesor Bralczyk a kalectwo językowe</p>
  <p>Przyzwoitośc - nieprzyzwoitość! Dkategi taj bardzi w tę stronę</p>
  Odfiltrowanie fatycznej funkcji, kiep

</div>

{% endblock %}
