{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

<div class="container mt-4">
  <h2>Wprowadzenie</h2>
  <p>
    Czy obelgi są manifestacją kultury? Czy interpretator dysponować musi szczególną wiedzą w zakresie interpreanta znaczeniowego oraz znakowego?
    Szczególna wiedza zdobywana jest w ramach danej kultury w procesie socjalizacji (Fleischer).
    Symbole kolektywne są najważniejszym elementami interdyskursu. Znaczenie kulturalne odbiega przy tym najczęściej w sposób znaczny od ogólnojęzykowego znaczenia
    leksykalnego, słowa obraźliwe nie są symbolami dyskursowymi, bo obszar ich występowania przekracza obszar subkultury.
  </p>
  <p>Rejestrowanie bazy tych słów przez słowniki, zebranie materiału przez słownik wydaje się niestosowne do zakresu moich badań.
  By badane przeze mnie słowa mogły uzyskać rangę symobli kolektywnych koniecznie muszą wyjść od respondentów, najlepiej w sposób
  jak najmniej inwazyjny.
  </p>
  <p>Co komunikują wulgaryzmy? (Kowaliowa) Znaczenie i funkcja wyrazów tzw. brzydkich we współczesnej kulturze?
  Badanie słóœ najbardziej obraźliwych, słowa te powinny być związane z najgorzej ocenianymi symbolami koektywnymi</p>
  <p>Kostrukt normy językowej. Respondenci nie przypisują wulgaryzmom naruszeń normy językowej.
  W słowach obraźliwych odnajdziemy wartości moralizujące społeczne, odczuciowe.</p>
  <p>Ujęcie słów a miejsca zamieszkania</p>
  <p>W badaniu symboli kolektywnych u Fleischera wartości ocenianych pozytywnym ładunkiem jest 23, poniżej zera jedynie 7</p>
  <p>Nie będę mógł wykaza w tej pracy czy podane słowa zasługują na to by określić je jako symbole kolektywne bo potrzeba jest próba stabilności w kulturze
  jednostkowej (tj. narodowej)</p>
  Nawet wg Pisarka słowa obraźliwe mogłyby uchodzić za słowa sztandarowe, bo dot. czegoś najwstrętniejszego i mogą być antonomiczne (dualizm),
  Pisarek sam dobierał zbiór słów do badania. Pisarek pisze, że nie należy traktować obecności w empritycznym zbiorze wyrazu, których znaczenie sprowadzało, by się
  do konotacyjnego nacechowania emotywnego. Jeśli dodatkowo otworzymy te epitety to łatwo będzie można dostrzec, żę mogą uchodzić jako symbole kolektywne, pełne są aksjologii
  Wyzwiska tworzeone są doraźnie, tylko nieliczne utrwalają swoją postać i wchodzą do języka na dłużej. "Ty psie! Co znaczy pies?"
  <p>(Bańko 200) "inwektywy to obraźliwe i gwałtowne słowa w których ktoś komuś zarzuca coś"</p>
  <p>Kahneman - Pułapki myślenia o utracie myślimy mocniej, ważniejsze symbole kolektywne, mogą być powiązane z brakiem, niedoborem, antywartościami</p>
  <p>Praca w swojej konstrukcji próbouje wejść w wyraźny dialog z symbolami kolektywnymi Fleischera</p>
  <p>Symbol kolektywny w rozumienia Linka są stereotypami kulturowymi. To nie tabu</p>
  <p>Wg badania Fleischera wulgaryzmy nie są tematem tabu</p>
  <p>Jeśli chodzi o funkcję komunikacyjną dobrze jest to przedstawione w Słowniku Polszczyzny Rzeczywistej</p>
  <p>U Fleischera brakuje określeń negacyjnych. Obraz Polaka postulowanego przez negację jaki Polak ma nie być, jak buduje się tożsamość narodową</p>
  Chciałem uniknąć powielania badania F oceniająć to jako wtórne, tu znazenie zostało rozczytane z kontekstu wypowiedzi.
  <p>Jeśli chodzi o budowę badania to chciałem uniknąć w głównym pytaniu badawczym słów obelga, inwektywa, uznałem je za za trudne słowa oddalające od
  istoty tego badania</p>
  <br>
  <p>Wyzwiska z komponentem "Pies" w języku polskim 2014</p>
  <p>Definicja wyzwiska</p>
  <p>Wyzwisko zawsze wartościuje negatywnie, ma za cel, obrażać osobę zwyzywaną, zatem dzięki słowu można stwierdzić, co odbierane jest na tyle źe negatywnie
  by...</p>
  <hr>
  <p>
    Słownik polszczyzny rzeczywistej. Wprowadznie. Normatwny punkt wyjścia, wulgarzymy 5 słów jako zjawisko komunikacyjne funkcja komunikacyjna.
    Wtedy przekleństwo staje się przekleńśtwem a wulgaryzm wulgaryzm wulgaryzmem, gdy występuje w komunikacji.
    O czym nie wolno mówić ?(tabu) Wulgarzymy 4.4% przekleństwa.
    Przekleńśtwa i wulgaryzmy językowe diagnozowane są jako nie posiadające znaczenia.
    Pansemantyczność słowa kurwa.
    W mojej pracy chciałbym spróbować nadać słowom obraźliwym rangę słów kluczowych polskiej kultury (symboli kolektywnych), w innych
    pracach albo się je normatywuje albo łączy z bezrefleksyjnością.
  </p>
  <p>Czy posiadają wyraźną manifestacją kulturową? Jeśli metoda badawcza sprawdzi się można badać w innych językach</p>
  Symbole kolektywne muszą wykazywać, obok znaczenia kulturowego i silnego lub negatywnego nacechowania, także wyraźnie zamanifestowaą stabilność, jeśli
  obiekty te mają spełniać przez teorię funkcję.
  <p>Symbole kolektywne są najistotniejszymi elementami interdyskursu.Juregen Link 1982 symbol kolektywny</p>
  Leksykalne znaczenie słów, stabilny silny środek znaku, oraz wyraźne zamanifestowany.
  <p>Konstrukty komunikacyjne deprecjonujące określenia przedstawicieli innych ras i nacji, pejoratywne określenia w odniesieniu do wrogich grup</p>
  <p>Symbolika kolektywna 2003 historia podobnych badań 1993 pierwsze badanie kulturowe znaczenie wulgaryzmów?</p>
  <p>Symbole kolektywne mamy do czynienia z jednostami funkcjonalnymi, obiektami, któ©e przyjmują odpowiednie funkcje kolektywno-symboliczne w określonych
  celach przez jakiś czas je pełnią, a po jakimś czasie mogą je utracić, nowe słowa mogą wejść w ich miejsce i przejąć ich funkcje</p>
  <br>
  <p>Pielużek Symbole kolektywne a prawica</p>
  <p>J.Puzynin proces identyfikacji wartośći i wyrazów wartościujących</p>
  <p>W.Pisarek Słowa sztandarowe. Niech żyje X, Precz z Y, Niech nie żyje X</p>
  <p>Symbole kolektywne to jednostki funkcjonalne wykazujące silnie pozytywne lub negatywne nacechowanie oraz równocześnie znaczenie kulturowe ( 3str)</p>
  <p>Wraz z zawartosciami powstaje jednocześnie normalność, rozumiana jako pole znaczeń (str 4. Fleischer 2010)</p>
  <p>Dobór próby i techniki badawcze ( strona 5 przypis 9)</p>
  <p>Znaczenie kulturowe jest trudno uchwytne. Nadwyżka znaczeniowa </p>
  <p>Czy jest zależność od płci</p>
  <p>Większość słów występuje w tylko jednej formie, co z kolei, pozwala wnioskować o wyraźnie zamanifestowanej semantyce. </p>
  <p>Czy jest odchylenie względem wieku?</p>
  <p>W moim badaniu ocena jest sztuczna, konstrukcja pytania miałą za zadanie zebrać 100-tki synonimy kulturowe, pola semantyczne profile semantyczne</p>
  <br>
  <p>Grochowski 1990 (85) Wulgaryzmy w dyskursie medialnym. Wyrażenia których użycie stanowi naruszenie obowiązujących norm społeczno-obyczajowych, a więc przekleńśtwa (wyr. wulgarne)</p>
  <br>
  <p>Wulgaryzmy w życiu codziennym 2013, podejście deklaratywne, mylnie ujęte wiadomo co to są za słowa ( a przecież nie, określenia polityczne typu faszysta to też wulgarzymy?)</p>
  <p>Nie ma znaczenia status majątkowy, oni wykształcenie</p>
  <p>Style życia w komunikacji, wulgaryzmy a stratyfikacja społeczeńśtwa, Dobór próby zorientowany był na osiągnięcie innych celów niż uzyskanie reprezentatywności demograficznej</p>
  <p>3 sensy przekleństw (2008 Grochowski) -wartościujący - ktoś przeklina kogoś za coś lub ktoś przeklina coś (negatywna ocena działań kogoś lub działąń w ogóle)</p>
  <p>instrumentalny, wyrażeniowy (chuj, dupa, gówna Grochowski 2008)</p>
  <p>Czemu Pan Grochowski wybrał te słowa wulgaryzm a przekleństwo, nie chodzi o tabu jak wiemy</p>
  <p>Profesor Bralczyk a kalectwo językowe</p>
  <p>Przyzwoitośc - nieprzyzwoitość! Dkategi taj bardzi w tę stronę</p>
  Odfiltrowanie fatycznej funkcji, kiep
  
</div>

{% endblock %}
