{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <a href="{% url 'index' %}">spis treści</a>
  <h4>{{key}}</h4>
  <p>średnia ocena: {{average_power}}</p>
    <table>
      <thead>
        <th>types</th>
        <th>ilość wystąpień</th>
        <th>tokens</th>
      </thead>
      <tbody>
        {% for answer in categories %}
          <tr>
            <td>
              {{answer.0}}
            </td>
            <td>
              {{answer.1}}
            </td>
            <td>
              {{answer.2}}
            </td>
            <td>
              {{answer.3}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
